#jumbo{
    font-family: 'Cabin Sketch', cursive;
    font-size: x-large;
    
    width: 1300px; height: 340px; background-image: url(imagenes/1300\ -\ 340.jpg);
    
}

#oferta{
    font-size: xx-large;
    color: red;
    font-weight: bold;
}


#primero{
    color: red;
    font-weight: bold;
}

#segundo{
    color: black;
    font-size: xx-large;
    font-family: 'Cabin Sketch', cursive;
    font-weight: bold;
}

#tercero{
    color: black;
    font-size: large;
    font-family: 'Cabin Sketch', cursive;
    }

#cards{
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
}

#peppe{
    background-color: wheat;

}

body{
    background-color: wheat;
    font-family: 'Cabin Sketch', cursive;
}

#margen{
    margin-left: 100px;
    margin-right: 200px;
}

.caja{
    position: relative;
    display: inline-block;
    margin-left: 250px;
    margin-right: 250px;
}

.texto{
    position: absolute;
    top: 250px;
    left: 5%;  
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
    font-size: 30px;
    color: black;
    display: block;
}
.texto1{
    position: absolute;
    top: 400px;
    left: 5%;  
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
    color: black;
    display: block;
}

.texto2{
    position: absolute;
    top: 420px;
    left: 5%;  
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
    color: black;
    display: block;
}
.p1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 25px;
    color: black;
    display: block;
}
.filas{
    font-family: 'Cabin Sketch', cursive;
    font-size: 25px;
    color: black;
 
    border-collapse: separate;
}
.pie{
    font-family: 'Cabin Sketch', cursive;
    background-color: black;
    text-align: center;
    color: white;
    font-size: x-large;
}